{% extends 'stocks/base.html' %}

{% block script %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            var availableCity = ["서울","부산","대구","광주","울산"];
            $(".basicAutoComplete").autocomplete({
                source: availableCity,
                select: function(event, ui) {
                    console.log(ui.item);
                },
                focus: function(event, ui) {
                    return false;
                    //event.preventDefault();
                }
            });
        });
    </script>


{% endblock %}




<!--템플릿 라이브러리 로딩 -->
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}
<h2>선택 오브 종목</h2>
<form method="post" action=".">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.market_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.tech_anal_name|as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.stock_name|as_crispy_field }}
      </div>
    </div>

    <button type="submit" class="btn btn-success">측정고고</button>
</form>
{% endblock %}


