{% extends 'stocks/base.html' %}

<!--템플릿 라이브러리 로딩 -->
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block scripts %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='{% static "apexcharts/apexcharts.min.js" %}'></script>
    <script type="text/javascript">
        var options = {
            chart: {
                type: 'area',
                    stacked: false,
                    height: 350,
                zoom: {
                    type: 'x',
                    enabled: true,
                    autoScaleYaxis: true
                },
                toolbar: {
                    autoSelected: 'zoom'
                }

            },
            annotations: {
                xaxis: []
            },
            series: [{
                name: '',
                data: []
                
            }],

            title: {
                text: 'Stock Price Chart',
                align: 'left'
            },
            yaxis: {
                labels: {
                    formatter: function (val) {
                        return (val).toFixed(0);
                    },
                },
                title: {
                    text: 'Price'
                },
            },
            markers: {
                size: 0,
                style: 'hollow',
            },
            xaxis: {
                type: 'datetime',
                
            },
            tooltip: {
                shared: false,
                y: {
                    formatter: function (val) {
                        return (val).toFixed(0)
                    }
                },
                x: {
                    format: 'dd MMM yyyy'
                }
            }

        }
        Number.prototype.format = function(){
            if(this==0) return 0;

            var reg = /(^[+-]?\d+)(\d{3})/;
            var n = (this + '');

            while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

            return n;
        };

        // 문자열 타입에서 쓸 수 있도록 format() 함수 추가
        String.prototype.format = function(){
            var num = parseFloat(this);
            if( isNaN(num) ) return "0";

            return num.format();
        };

        function moneyKorean(numStr) {

            var currencyFormat = new RegExp(/^\d{1,3}(,\d{3})+$/);
            if (isNaN(numStr) && !currencyFormat.test(numStr)) {
                return "";
            }
            var num = numStr.replace(/,/g, "");
            var hanA = ["","일","이","삼","사","오","육","칠","팔","구"];
            var danA = ["","십","백","천"];
            var danGA = ["","만","억","조"];
            var danGAttachA = [];
            var result = "";
            for (var i=0; i<num.length; i++) {
                var str = "";
                var char = num.charAt(num.length-(i+1));
                var han = hanA[char];
                var danChk = Math.floor(i / 4);
                if (han != "") {
                    str += han;
                    str += danA[i%4];
                    if (!danGAttachA[danChk]) {
                        str += danGA[danChk];
                        danGAttachA[danChk] = true;
                    }
                }
                result = str + result;
            }
            if(num != 0) {
                result = result + "원";
            }
            return result;
        }


        $(function() {

            $(".stockNameAutoComplete").autocomplete({
                source: function(request, response) {
                    $.getJSON("/stocks/stock-name-autocomplete", { q: request.term , s: $("#id_market_name").val()}, response);
                },
                select: function(event, ui) {
                    console.log(ui.item);
                },

            });
            $("#id_market_name").change(function () {
                var selectedVal = $(this).val();
                console.log(selectedVal)
                if (selectedVal != ''){
                    $(".stockNameAutoComplete").removeAttr('disabled')
                    $.ajax({
                        url:"{% url 'marketSelectAjax' %}",
                        dataType:'json',
                        type:'POST',
                        data:{'selectedVal':selectedVal, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        success:function(result){
                            console.log(result)

                        }
                    });
                }
                else{
                    $(".stockNameAutoComplete").attr({
                        'disabled':'disabled',
                    })
                    //$('#selectResult').text('');
                }


            });

            // start date
            $("#datetimepicker1").datetimepicker({

                format: 'YYYY/MM/DD',
                maxDate: new Date()
            });
            // end date
            $("#datetimepicker2").datetimepicker({
                format: 'YYYY/MM/DD',
                maxDate: new Date()
            })
            $('input[type="money"]').keyup(function(event) {

                // skip for arrow keys
                if(event.which >= 37 && event.which <= 40) return;

                // format number
                $(this).val(function(index, value) {
                    var maxLength = 16 + 4
                    console.log(value)
                    if(value.length > maxLength) {
                        var tmpVlue = value.substr(0, maxLength);
                        var moneyComma = tmpVlue.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        $('#moneyPrint').text(moneyKorean(moneyComma));
                        return moneyComma
                    } else {
                        var moneyComma = value.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        $('#moneyPrint').text(moneyKorean(moneyComma));
                        return moneyComma
                    }
                });
            });

        });
    </script>

{% endblock %}

{% block title %}if i bought{% endblock %}

{% block content %}

<h2>선택 오브 종목</h2>

<form id="measureBtn" method="post" action=".">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.market_name|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.tech_anal_name|as_crispy_field }}
        </div>
        <div class="col-12">
            {{ form.stock_name|as_crispy_field }}
        </div>
        <div class="col-6">
            <div id="div_id_start_date" class="form-group">
                <label for="id_start_date" class="col-form-label  requiredField">
                    StartDate<span class="asteriskField">*</span>
                </label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    {{ form.start_date }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div id="div_id_end_date" class="form-group">
                <label for="id_end_date" class="col-form-label  requiredField">
                    EndDate<span class="asteriskField">*</span>
                </label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    {{ form.end_date }}
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            {{ form.investment_amount|as_crispy_field }}
            <div class="text-right">
                <p id="moneyPrint"></p>
            </div>
        </div>


    </div>

    <input type="submit" class="btn btn-success"></input>
    <div id="finalResults" class="co1-12">

    </div>

    <hr class="mt-4 mb-4">
    <div class="col-12">
        <div id="app">
            <div id="chart" ref="barchart"></div>
        </div>
    </div>

</form>
<hr class="mt-0 mb-4">

<div class="row">
    <form method="post" action="init-stocks">
        {% csrf_token %}
        <div class="row">

        </div>
        {% if user.is_authenticated and user.is_superuser %}
            <button type="submit" class="btn btn-success">CreateStockData</button>
        {% else %}
            <button type="submit" class="btn btn-success" style="display: none;">CreateStockData</button>
        {% endif %}
    </form>
    &nbsp;
    <form method="post" action="update-market">
        {% csrf_token %}
        <div class="row">

        </div>
        {% if user.is_authenticated and user.is_superuser %}
            <button type="submit" class="btn btn-success">UpdateMarket</button>
        {% else %}
            <button type="submit" class="btn btn-success" style="display: none;">UpdateMarket</button>
        {% endif %}
    </form>
    &nbsp;
    <form method="post" action="update-stock-value">
        {% csrf_token %}
        <div class="row">

        </div>
        {% if user.is_authenticated and user.is_superuser %}
            <button type="submit" class="btn btn-success">UpdateStockValue</button>
        {% else %}
            <button type="submit" class="btn btn-success" style="display: none;">UpdateStockValue</button>
        {% endif %}
    </form>
</div>

<!-- 이 코드는 무조건 여기 있어야 동작함 ..... -->

    <script>
        var x;         // Now x is undefined
        x = 5;         // Now x is a Number
        x = "John";      // Now x is a String

        $(function() {
            $("#measureBtn").on('submit', function(event) {
                event.preventDefault();
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function(response) { // on success..

                        console.log(response.result)
                        $("#{{ form.market_name.auto_id }}").val('')
                        $("#{{ form.stock_name.auto_id }}").val('')
                        $(".stockNameAutoComplete").attr({
                            'disabled':'disabled',
                        })
                        $("#{{ form.start_date.auto_id }}").val('')
                        $("#{{ form.end_date.auto_id }}").val($.datepicker.formatDate('yy/mm/dd', new Date()))
                        $("#{{ form.investment_amount.auto_id }}").val('')
                        $("#moneyPrint").text('')
                        $('#finalResults').html('')
                        

                        options.series[0].data = response.data
                        options.series[0].name = response.stockName
                        console.log(response.buyList.length)
                        for (var i =0; i< response.buyList.length; i++)
                        {
                            options.annotations.xaxis.append({
                                x: response.buyList[i],
                                strokeDashArray: 0,
                                borderColor: '#775DD0',
                                label: {
                                    borderColor: '#775DD0',
                                    style: {
                                        color: '#fff',
                                        background: '#775DD0',
                                    },
                                    text: 'buyList',
                                }
                            })
                        }

                        //options.annotations.xaxis[0].x = response
                        var chart = new ApexCharts(
                            document.querySelector("#chart"),
                            options
                        );

                        chart.render()
                    },
                    error : function(xhr, errmsg, err) {
                        $('#finalResults').html("<div class='alert-box alert radius' data-alert>에러 발생 !! : "
                            +xhr.responseJSON["result"]+ " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseJSON["result"]); // provide a bit more info about the error to the console
                    }
                });


            });
        });

        var chart = new ApexCharts(
            document.querySelector("#chart"),
            options
        );

        chart.render()
    </script>

{% endblock %}


